/* Footer */

.footer {
  background-color: #3a819a;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.footer .social-links {
  margin-top: 10px;
}

.footer .social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
